<%= form_for  @student do |f| %>
		  <div>
		 	 <%= f.label :first_name %>
		 	 <%= f.text_field :first_name %>
		  </div>

		  <div>
		 	 <%= f.label :last_name %>
		 	 <%= f.text_field :last_name %>
		  </div>

		  <div>
		 	 <%= f.label :highest_completed_education %>
		 	 <%= f.select(:highest_completed_education, ['HS','College','Masters','PHD']) %>
		 </div>

		 <div>
		 	 <%= f.label :age %>
		 	 <%= f.date_select(:age, :start_year => 1940, :end_year => Date.current.year - 13) %>
		 </div>

		


		 <div>
		  	<%= f.submit %>
		 </div>

<% end %>