





<h2> <%= t('home.s_title') %></h2>
 
<h4>
  	<%= link_to t('home.s_new_add') , new_student_path %>
  	
</h4>


<h3> <%= t('home.s_list') %></h3>
<div class="mb-4">
   <% @students.each do |student| %>
   <div class="mb-4 main-student">
    <div id="name-div">

   <div> <%= t('home.s_name') %>: <%= student.last_name %>, <%= student.first_name %>
    </div>
      </div>

    <div> Highest Education Completed: <%= t('home.s_education') %>
    </div>

    <div>
		<%= link_to t('home.s_full_stats'), student_path(student), 'data-disable-with': "Hold, please..." %>
		
	
		<%= link_to t('home.s_edit_button'), edit_student_path(student), 'data-disable-with': "Transferring now..." %>

    <%= link_to 'Remove', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>

	


	</div>

	<br>


</div>
   <% end %>

</div>