<!DOCTYPE html>
<html>
  <head>
    <title>PamsPanelX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="wrapper">
     <nav>
       <div class="logo">
         <ul>
           <li>
             <a href="#">Students</a>
           </li>
           <li>
             <a href="#"> Instructors</a>
           </li>
           <li>
             <a href="#"> Cohorts</a>
           </li>
           <li>
             <a href="#">Courses</a>
           </li>
         </ul>
       </div>
     </nav>        
    </div>

    
    <p>  I am a test for the soon to be menu</p>
    <%= yield %>

  </body>
</html>
