<!DOCTYPE html>
<html>
  <head>
    <title>PamsPanelX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

<!--     <div class="wrapper">
     <nav>
       <div class="menu-icon">
        <i class="fa fa-bars"></i>
         
       </div>
       <div class="logo"> Logo </div>
         <ul>
           <li>
             <a href="students">Students</a>
           </li>
           <li>
             <a href="instructors"> Instructors</a>
           </li>
           <li>
             <a href="cohorts"> Cohorts</a>
           </li>
           <li>
             <a href="courses">Courses</a>
           </li>
         </ul>
       
     </nav>        
    </div> -->

    
    <%= yield %>


    <div class="footer">
      <p> This Is A Footer </p>
      
    </div>



  </body>
</html>
