<h2> Instuctor's Detailed Information</h2>


<div> First Name: <%= @instructor.first_name %> </div>

<div> Last Name: <%= @instructor.last_name %> </div>


<div> Highest Education Completed: <%= @instructor.highest_completed_education %> </div>


<div> Age: <%= @instructor.age %> </div>

<div> Salary: <%=number_to_currency( @instructor.salary )%></div>